/* your code */
table{
	border:1px solid black;
	border-radius:10px;
}
thead{
	background-color:peachpuff;
}
th{
	padding:0px;
	margin:0px;
	border:1px solid black;
}
tr{
	background-color: lightgray;
}